body {
    background-color:lightblue;
    margin: 0;
}

p {
    color:rgb(100,30,90);
    background:sandybrown;
    
    border: 10px dashed darkgreen;
    padding: 40px;
    margin: 50px; 
}

h1 {
    color: red;
    font-size: 80px;
    margin-top: 0;
}

img {
    /* max-width: 500%; */
    width: 800px;
    margin
}

.special{
    background:lightgrey;
    font-size: 30px;
}

.small-image {
    width: 200px;
}